.connection-card {
    background-color: #F1EFE7;
}

.ml-2 {
    margin-left: 0.5rem;
}

.my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.search-box {
    position: relative;
    width: 100%;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #ccc;
}

.search-input {
    padding-left: 30px;
}

.my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.connection-card-img{
   height: 230px;
   object-fit: cover;
}