.bg-image {
  position: relative;
  background: none;
  height: 87vh;
}

.bg-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assets/hero3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
  z-index: 1;
  width: 100%;
}

.hero-text {
  position: relative;
  z-index: 2;
  color: #000;
  top: 110px;
}

/* Steps styling starts */

.row-img {
  width: 50%;
}

.size-s {
  padding: 18px 0;
  width: 40%;
}

.size-ss {
  width: 40%;
  padding: 18px 0;
}

.row-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 2;
  margin-top: 30px;
  width: 100%;
  height: 350px;

}

.row-box {
  padding: 1em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.right-border {
  border-right: 2px solid #966100;

}

.box-title {
  font-weight: bold;
}

.box-text {
  color: #827C7C;
}

/* Features seaction stying starts */
.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;

}

.box-container {
  height: 900px;
}

.left-feature-container {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.right-feature-container {
  width: 50%;
  height: 100%;
  overflow: hidden;

}

.full-height-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.upper-container {
  height: 50%;
  overflow: hidden;
  margin-bottom: 2px;
}

.lower-container {
  height: 50%;
  overflow: hidden;
}

.feature {
  /* border: 1px solid #ddd; */
  padding: 1rem;
}

.feature-image {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 6px;
}

.aspect-ratio {
  aspect-ratio: 1/1;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #966100;
}

.feature-description {
  margin-bottom: 1rem;
  width: 80%;
}

.feature-button {
  width: 20%;
}

/* reachout container starts */

.reachout-container{
  position: relative;
  margin-top: 4rem;
  padding-top: 4rem;
}
.reachout-box {
  width: 100%;
  height: 350px;
  background-color: #F1EFE7;

}

.reachout-image-container {
  width: 40%;
  top:0;
}

.reachout-text-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.reachout-text-container h1{
  font-weight: bolder;
}
.reachout-image {
  width: 35%;
  position: absolute;
  top: 0;
}
.reachout-info{
  flex-direction: column;
  padding: 2rem;
}
.reachout-email{
  border-right: 1px solid black;
}
.email-phone div{
  padding: 1rem;
}