* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-btn {
  background-color: #000;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0px;
  cursor: pointer;
  border-radius: 6px;
}

.my-btn:hover {
  background-color: #966100;
}

.common-tittle{
  margin-bottom: 2rem;
}
.common-tittle h2{
  font-size: 2rem;
  font-weight: bold;
}
.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bolder-text{
  font-weight: bolder;
}
.align-text-center{
  text-align: center;
}
@media (max-width: 768px) {
  .common-tittle {
    margin-bottom: 0rem;
  }
  .common-tittle h2{
    font-size: 1.3rem;
  }
}