* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-btn {
  background-color: #000;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
}

.my-btn:hover {
  background-color: #45a049;
}

.common-tittle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}