*{
  margin: 0;
  padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #f2efe8;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 100px;
  }
  
  .navigation{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navigation ul a {
    text-decoration: none;
    color: #333;
  }
  
  .navigation ul a:hover {
    font-weight: bold;
  }
  